@use '../helpers/functions' as *;
@use '../helpers/globals' as *;
@use '../helpers/mixin' as *;
@use '../variables' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  border-radius: rem(8);
  padding-block: rem(11);
  padding-inline: rem(17);
  font-size: rem(16);
  color: var(--color-primary);
  line-height: 120%;
  background-color: transparent;
  transition: all 0.3s ease 0s;
  &--white {
    color: var(--color-light);
    border-color: var(--color-light);
    border-radius: rem(4);
  }
}