@use '../helpers/functions' as *;
@use '../helpers/globals' as *;
@use '../helpers/mixin' as *;

.dropdown {
  position: relative;
  display: inline-block;
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
    position: absolute;
    top: 100%;
    background: white;
    min-width: rem(160);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(rem(-10));
    transition: all 0.3s;
    pointer-events: none;
    border-radius: 0.5rem;
    padding: rem(4);
    &-right {
      right: 0;
    }
    &-left {
      left: 0;
    }
    a {
      color: #374151;
      padding: 0.5rem 1rem;
      text-decoration: none;
      display: block;
      border-radius: rem(4);
      border: 1px solid transparent; 
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          border-color: var(--color-primary);
        }
      } 
      @media (any-hover: none) {
        &:active {
          &:hover {
            border-color: var(--color-primary);
          }
        }
      }
    }
  }
  @media (any-hover: hover) {
    &:hover {
      .dropdown__content {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
      .icon-arrow-down {
        &::after {
          transform: rotate(-90deg);
        }
      }
    }
  }
  @media (any-hover: none) {
    &:active {
      .dropdown__content {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }
  }
}