@use '../helpers/functions' as *;
@use '../helpers/globals' as *;
@use '../helpers/mixin' as *;
@use '../variables' as *;

.hero {
  background-color: var(--color-secondary-light);
  @include adaptiveValue('padding-block', 35, 18);
  &__container {
  }
  &__breadcrumb {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 23, 13);
    }
  }
  &__body {
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    @media (max-width: em(1200)) {
      grid-template-columns: 55% 45%;
    }
    @media (max-width: $tablet) {
      grid-template-columns: auto;
    }
  }
  &__slider {
    @include adaptiveValue('padding-right', 60, 10, $containerWidth, 991.98);
  }
  &__product-content {
  }
}
.product-content {
  &__title {
    @include adaptiveText(52, 32);
    line-height: 110%;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  &__expandable {
    line-height: 140%;
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__expandable-button {
    color: var(--color-primary);
  }
  &__colors {
    display: flex;
    column-gap: rem(8);
    margin-top: rem(40);
    margin-bottom: rem(25);
    @media (max-width: $mobile) {
      column-gap: rem(10);
      margin-top: rem(30);
      margin-bottom: rem(20);
    }
  }
  &__color {
    height: rem(32);
    width: rem(32);
    border-radius: 50%;
    overflow: hidden;
    transition: opacity 0.3s ease 0s;
    &.is-active {
      border: rem(2) solid var(--color-primary);
    }
    @media (any-hover: hover) {
      &:hover {
        border: rem(2) solid var(--color-primary);
        opacity: 0.8;
        &.is-active {
          opacity: 1;
        }
      }
    }
    @media (any-hover: none) {
      &:active {
        border: rem(2) solid var(--color-primary);
        opacity: 0.8;
        &.is-active {
          opacity: 1;
        }
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }
  &__option-groups {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 40, 30);
    }
  }
  &__block {
    display: grid;
    row-gap: rem(20);
    column-gap: rem(10);
    align-items: center;
    grid-template-columns: auto auto auto 1fr;
    grid-template-areas: 'price price price price'
                          'quantity cart favorite .';
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    @media (max-width: $tablet) {
      row-gap: rem(18);
      grid-template-columns: auto auto auto 1fr;
      grid-template-areas: 'quantity price price .'
                          'cart cart favorite .';
      &:not(:last-child) {
        margin-bottom: rem(18);
      }
    }
  }
  &__price-block {
    line-height: 1;
    grid-area: price;
  }
  &__price {
    font-size: rem(32);
    font-weight: 600;
  }
  &__old-price {
    font-size: rem(16);
    color: rgba(44, 41, 41, 0.26);
    text-decoration: line-through;
  }
  &__actions {
  }
  &__cart-button {
    background-color: var(--color-primary);
    color: var(--color-light);
    width: 100%;
    max-width: rem(280);
    grid-area: cart;
    text-wrap: nowrap;
    @include adaptiveValue("padding-inline", 66, 17, $containerWidth, 991.98);
    @media (any-hover: hover) {
      &:hover {
        letter-spacing: rem(0.5);
        font-weight: 500;
        .icon-comment {
          &::before {
            transform: scale(1.05);
          }
        }
      }
    }
    @media (any-hover: none) {
      &:active {
        letter-spacing: rem(0.5);
        font-weight: 500;
        .icon-comment {
          &::before {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  &__favorite-button {
    padding-inline: rem(13);
    grid-area: favorite;
    @media (any-hover: hover) {
      &:hover {
        .icon-heart {
          &::before {
            animation: pulse 0.6s ease;
          }
        }
      }
    }
    @media (any-hover: none) {
      &:active {
        .icon-heart {
          &::before {
            animation: pulse 0.6s ease;
          }
        }
      }
    }
  }
  &__secondary-actions {
    &:not(:last-child) {
      margin-bottom: rem(26);
    }
  }
  &__features {
  }
}
.is-active {
}
.option-group {
  display: flex;
  flex-direction: column;
  row-gap: rem(25);
  @media (max-width: $mobile) {
    flex-direction: column-reverse;
  }
  @media (max-width: $mobile) {
    row-gap: rem(20);
  }
  &__label {
    font-weight: 600;
    line-height: 1;
    margin-bottom: rem(8);
  }
  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
  }
  &__option {
    line-height: 1;
    padding-inline: rem(18);
    @media (any-hover: hover) {
      &:hover {
        color: #000;
        border-color: #000;
        letter-spacing: rem(1);
        font-weight: 500;
      }
    }
    @media (any-hover: none) {
      &:active {
        letter-spacing: rem(1);
        font-weight: 500;
      }
    }
  }
}
.secondary-actions {
  display: flex;
  align-items: center;
  column-gap: rem(10);
  row-gap: rem(18);
  @media (min-width: $mobile) {
    flex-wrap: wrap;
  }
  &__button {
    padding-inline: rem(20);
    line-height: 1;
    @media (any-hover: hover) {
      &:hover {
        letter-spacing: rem(0.5);
        font-weight: 500;
        .icon-comment {
          &::before {
            transform: scale(1.05);
          }
        }
      }
    }
    @media (any-hover: none) {
      &:active {
        letter-spacing: rem(0.5);
        font-weight: 500;
        .icon-comment {
          &::before {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  &__text {
    font-size: rem(16);
    @media (max-width: $mobile) {
    }
  }
}