@use '../helpers/functions' as *;
@use '../helpers/globals' as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);  
    &:before {
        transition: all 0.3s ease 0s;
        width: rem(20);
        height: rem(20);
        content: '';
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &-comment {
        &::before {
            background-image: url('../icons/comment.svg');
        }
    }
    &-shopping-cart {
        &::before {
            background-image: url('../icons/shopping-cart__white.svg');
        }
    }
    &-heart {
        &::before {
            background-image: url('../icons/heart.svg');
        } 
    }
    &-phone {
        &::before {
            background-image: url('../icons/phone.svg');
        }
    }
    &-mail {
        &::before {
            background-image: url('../icons/mail.svg');
        }
    }
    &-location {
        &::before {
            background-image: url('../icons/location.svg');
        }
    }
    &-arrow-top {
        &:before {
            content: none;
        }
        &::after {
            transition: all 0.3s ease 0s;
            width: rem(20);
            height: rem(20);
            content: '';
            flex-shrink: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../icons/arrow-top-right__gray.svg');
        }
    }
    &-arrow-down {
        &:before {
            content: none;
        }
        &::after {
            transition: all 0.3s ease 0s;
            width: rem(10);
            height: rem(10);
            content: '';
            flex-shrink: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../icons/arrow-down__gray.svg');
        }
    }
}