@use '../helpers/functions' as *;
@use '../helpers/globals' as *;
@use '../helpers/mixin' as *;

.partners {
  @include adaptiveValue('margin-top', 90, 41);
  padding-bottom: rem(44);
  &__container {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 52, 36);
    }
  }
  &__title {
    text-align: center;
    color: #000;
    font-weight: 500;
    line-height: 123%;
    font-size: rem(26);
  }
  &__body {
    overflow: hidden;
    position: relative;
  }
  &__track {
    display: flex;
    gap: rem(90);
    @include adaptiveValue('gap', 90, 50);
  }
  &__list {
    display: flex;
    @include adaptiveValue('gap', 90, 50);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
    will-change: transform;
  }
  &__item {
    flex: 0 0 auto;
    @include adaptiveValue('width', 160, 100);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
  }
}

@keyframes marquee {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-50%);
  }
}